

#headerContainer {
	background-color: white;
	width: 100%;
	border-bottom: 2px solid #ccc;
	padding: 0px 40px;
	box-sizing: border-box;
}

#mainHeader {
	background-color: #4aaaa5;
	color: white;
	text-align: center;
	padding: 10px;
	border: 30px;
	clear: right;
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: 200px;
}

#navBar {
	float:right;
	clear: both;
	position: relative;
	margin-top: 40px;
	word-spacing: 3px;
	font-size: 24px;
	border-spacing: 2px;
	margin-right: 176px;
}

a {

	text-decoration: none;
	color: #777777;
	padding-right: 13px;
}

#connectWithMe a {
	padding-right: 23px;
}

#about {
	border-right: 1px  #777777 solid; 
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


#portfolio {
	border-right: 1px #777777 solid;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#contact {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.background {
	/*background-image: url("../images/subtlepattern.png");*/
	width: 960px;
	margin: 0 auto;
	margin-top: 20px;
}

.background::after {
  content: "";
  display: block;
  clear: both;
}


#textContainer {
	padding: 0 40px;
	padding-top: 35px;
	border-bottom-style: solid;
	border-right-color: #4aaaa5;
	border-width: 12.5px;
	width: 650px;
}


#infoSection {
	float: left;
	width: 456px;
	height: 607px;
	background: #ffffff;
	padding: 0 20px;
	margin-right: 20px;
	overflow: auto;
	/*text-align: center;*/
}

#aboutMe {
	padding-bottom: 14px;
	border-bottom-color: #cccccc;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	color: #4aaaa5
}

#profilePic {
	float: left;
	padding-right: 4%;
	padding-bottom: 3px;
}

.infoText {
	font-size: 20px;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#floated {
	clear: both;
}

#connectWithMe {
	float: left;
	height: 189px;
	width: 270px;
	background-color: white;
	position bottom: 363px;
	/*position: relative;*/
	color: #4aaaa5;
}



#copyright {
	position: fixed;
	background-color: #666666;
	width: 100%;
	bottom: 0;
	left: 0;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #4aaaa5;
}

.clearBoth {
	clear: both;
}

div {
	width: 165px;
	margin: 0 auto;
}


h2 {
	text-align: center;
    margin: 12px;
    border-bottom: 1px solid #cccccc;
    padding-right: 9px;
    padding-bottom: 3px;
    font-family: 'Georgia', Times, Times, serif;
}

#copyrightText {
	text-align: center;
	position: relative;
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
	 font-family: 'Georgia', Times, Times, serif;
	 text-align: left;
}

body {
background-image: url(../images/subtlepattern.png);
margin: 0px;
}

.pic {
    width: 192px;
    display: inline-block;
    margin-left: 20px;
}

.placeholder {
	float: left;
    width: 192px;
    height: 165px;
}

.text {
    width: 192px;
    height: 39px;
    background-color: #4aaaa5;
    color: #777777;
    clear: both;
    color: white;
    text-align: center;
    margin-bottom: 18px;
    margin: -70px 0px 30px 0px;
}

@media screen and (max-width: 980px) {
	
	#infoSection {
		width: 279px;
		margin-left: 84px;
		overflow: auto;
		padding-bottom: 25px;
	}		

	#connectWithMe {
		float: left;
	   /* height: 189px;*/
	    width: 177px;
	    background-color: white;
	    color: #4aaaa5;
	    width: 26%;
	    
	}

	#icons {
		margin-left: 22%;
	}

	#headerContainer {
		width: 100%;
	}

	#mainHeader {
		margin-left: 11%;
		width: 169px;
	}

	#copyRight {
		width: 100%;
	}

	#copyRightText {
		width: 100%;
	}

	#body {
		width: 650px;
	}

	.infoText {
		/*clear: both;*/
		color: #777777;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		text-align: left;
		font-size: 15px;
		margin-left: 20px;
		margin-right: 42px;
	}

	#profilePic {
		float: left;
	    padding-right: 19px;
	    padding-bottom: 13px;
	    width: 237px;
	    margin-left: 20px;
	}

	#aboutMe {
	    padding-bottom: 14px;
	    border-bottom-color: #cccccc;
	    border-bottom-style: solid;
	    border-bottom-width: 2px;
	    color: #4aaaa5;
	    margin-left: 19px;
	    margin-right: 20px;
	    font-size: 19px;
	}

	h2 {
		font-size: 14px;
		text-align: center;
	    margin-top: 15px;
	    margin-bottom: 17px;
	    margin-left: 17px;
	    margin-right: 17px;
	    border-bottom: 1px solid #cccccc;
	    padding-right: 8px;
	    padding-bottom: 8px;
	    font-family: 'Georgia', Times, Times, serif;
	}

	#navBar {
	    margin-top: 52px;
	    word-spacing: 3px;
	    font-size: 14px;
	    border-spacing: 0px;
	    margin-right: 28%;
	}

	.background {
		width: 100%;
	    margin-left: 6%;
	    margin-top: 20px;
	}

	.pic {
		margin-left: 35px;
	}


}

@media screen and (max-width: 768px) {
	
	#connectWithMe {
		width: 89%;
	    background-color: white;
	    color: #4aaaa5;
	    margin-left: 5%;
	    margin-bottom: 5%;
	}

	#infoSection {
		width: 85%;
	    height: 369px;
	    background: #ffffff;
	    padding: 0 15px;
	    margin-right: 17px;
	    margin-bottom: 33px;
	    margin-left: 5%;
	}

	#profilePic {
		float: left;
	}
	
	.infoText {
	    color: #777777;
	    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	    text-align: left;
	    font-size: 15px;
	    margin-left: 20px;
	    margin-right: 42px;
	}

	#icons {
		width: 175px;
		margin-left: 38%;
	}

	#widthContainer {
		width: 768px;
	}

	#mainHeader {
		width: 185px;
	    margin-left: 0%;
	    padding-right: 41px;
	    text-align: center;
	}

	#headerContainer {
		width: 100%;
	}

	
	#navBar {
	    position: relative;
	    margin-top: 39px;
	    word-spacing: 3px;
	    font-size: 14px;
	    border-spacing: 0px;
	    margin-right: 0%;
	}

	.background {
		width: 100%;
		margin-left: 0%;
	}

	.clearfix {
  		overflow: auto;
  		zoom: 1;
	}

	.pic {
		margin-left: 92px;
	}

	#aboutMe {
		margin-right: 81px:
		margin-left: 88px; 
	}


}


@media screen and (max-width: 640px) {

	#connectWithMe {
		width: 90%;
	    background-color: white;
	    color: #4aaaa5;
	    margin-left: -5%;
	    padding-bottom: 42px;
	}

	#infoSection {
		width: 85%;
	    height: 369px;
	    background: #ffffff;
	    padding: 0 15px;
	    margin-right: 17px;
	    margin-bottom: 33px;
	    margin-left: -5%;
	}

	#profilePic {
		float: left;
	}
	
	.infoText {
	    color: #777777;
	    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	    text-align: left;
	    font-size: 15px;
	    margin-left: 20px;
	    margin-right: 42px;
	}

	#icons {
	    margin-left: 35%;
    	padding-top: 2%;
    	width: 179px;
	}

	#widthContainer {
		width: 768px;
	}

	#mainHeader {

		width: 100%;
	    padding-right: 65px;
	    text-align: center;
	    position: static;
		padding-left: 35%;
	}

	}

	#headerContainer {
		width: 100%;
		padding-right: 0%;
		padding-left: 0%;
	}

	
	#navBar {
		position: relative; 
	    margin-top: 39px;
	    word-spacing: 100px;
	    font-size: 24px;
	    /* border-spacing: 0px; */
	    margin-left: 10%;
	    /* float: none; */
	    width: 100%;
	    padding-top: 2%;
	    padding-bottom: 9%;
	    /* margin: 25px auto; */
	    float: none;
	    margin-left: 12%;
	}

	.background {
		width: 100%;
		margin-left: 10%;
	}

	.background::after {
    /* content: ""; */
    /* display: block; */
    /* clear: both; */
}

	#portfolio {
		border-right:none;
	}
	
	#about {
		border-right:none;
	}

	.pic {
		margin-left: 42px;
	}
}

 


